<ul class="nav-list">
  <li class="nav-item nav-item-left">
    <a class="nav-link" href="/<%= I18n.locale %>/about.html"><%= I18n.t("nav.about") %></a>
  </li>
  <li class="nav-item nav-item-left">
    <a class="nav-link" href="/<%= I18n.locale %>/work.html"><%= I18n.t("nav.work") %></a>
  </li>
  <li class="nav-item nav-item-logo">
    <a href="/<%= I18n.locale %>/index.html" class="nav-link header-logo">
      <%= image_tag "tree-logo.svg", class: "nav-logo", alt: "EcoStage" %>
    </a>
  </li>
  <li class="nav-item nav-item-right">
    <a class="nav-link" href="/<%= I18n.locale %>/contact.html"><%= I18n.t("nav.contact") %></a>
  </li>
  <li class="nav-item nav-item-right">
    <a class="nav-link" href="/<%= I18n.locale %>/team.html"><%= I18n.t("nav.team") %></a>
  </li>
</ul>