---
title: EcoStage
keywords: projetos, ferramentas, plataformas, sistemas, app, aplicativos web, sustentavel, sustentabilidade, desenvolvimento, ruby, rails, cms, css, javascript, js, sass, parceiros, mundo, ambiental, social, ecostage, eco, stage, soluções, desafios, ecosistema, gases, efeito, estufa, poluição, ambiental, mundial, clima, COP, ecosistema, ecologia, ongs, platforms, projects, environment, gases, gee, ghg, green, house, future, system, tool, development, sustainable
intro: true
---

<div class="customer">
  <section class="section">

    <ul class="customer__list">
      <li class="customer__item">
        <%= image_tag "fgv.png", class: "customer__logo", alt: "FGV" %>
      </li>
      <li class="customer__item">
        <%= image_tag "imazon.png", class: "customer__logo", alt: "Imazon" %>
      </li>
      <li class="customer__item">
        <%= image_tag "wwf.png", class: "customer__logo", alt: "WWF" %>
      </li>
      <li class="customer__item">
        <%= image_tag "greenpeace.png", class: "customer__logo", alt: "Greenpeace" %>
      </li>
      <li class="customer__item">
        <%= image_tag "oc.png", class: "customer__logo", alt: "OC" %>
      </li>
      <li class="customer__item">
        <%= image_tag "seeg.png", class: "customer__logo", alt: "Seeg" %>
      </li>
      <li class="customer__item">
        <%= image_tag "iema.png", class: "customer__logo", alt: "IEMA" %>
      </li>
    </ul>

  </section>
</div>

<section class="section work">
  <h2 class="section-title">
    <%= I18n.t('index.projects.title') %>
  </h2>
  <p class="text-center"><%= I18n.t('index.projects.subtitle') %></p>

  <div id="js-our-projects" class="owl-carousel owl-projects">    
    
    <div class="item">
      <div class="item-imagem">
        <%= image_tag "work-seeg.png", class: "owl-imgslider", alt: "SEEG" %>
      </div>
      <div class="item-text">
        <%= image_tag "logowork-seeg.svg", class: "project-item__logo-work", alt: "SEEG" %>
        <p><%= I18n.t('index.projects.seeg_description') %></p>
      </div>
    </div>

    <div class="item">
      <div class="item-imagem">
        <%= image_tag "work-mapbiomas.png", class: "owl-imgslider", alt: "MapBiomas" %>
      </div>
      <div class="item-text">
        <%= image_tag "logowork-mapbiomas.svg", class: "project-item__logo-work", alt: "MapBiomas" %>
        <p><%= I18n.t('index.projects.seeg_description') %></p>
      </div>
    </div>

    <div class="item">
      <div class="item-imagem">
        <%= image_tag "work-seegeletrico.png", class: "owl-imgslider", alt: "Seeg Elétrico" %>
      </div>
      <div class="item-text">
        <%= image_tag "logowork-seegeletrico.svg", class: "project-item__logo-work", alt: "Seeg Elétrico"  %>
        <p><%= I18n.t('index.projects.seeg_eletrico_description') %></p>
      </div>
    </div>

  </div>

  <p class="text-center">
    <a class="link-button" href="work.html"><%= I18n.t('index.projects.more_projects') %></a>
  </p>
</section>
