---
title: EcoStage - Equipe
keywords: rails, ruby, js, react, javascript, desenvolvimento, inovação, sustentabilidade, design, thinking, ux, ui, developer, São Paulo, Guarulhos, Casa do código, Desenvolvimento, Web
inner: true
---

<div class="wrapper wrapper-inner">
  <section class="section">

    <h1 class="section-title">
      <%= I18n.t("team") %>
    </h1>

    <div class="team-list">

      <figure class="team-member">
        <%= image_tag "team-sergio.png", class: "team-member__image", alt: "sergio"  %>
        <figcaption class="team-member__caption">
            <strong>Sergio Oliveira</strong>
            <small>CEO</small>
        </figcaption>
      </figure>

      <figure class="team-member">
        <%= image_tag "team-marcelo.png", class: "team-member__image", alt: "marcelo"  %>
        <figcaption class="team-member__caption">
            <strong>Marcelo Piva</strong>
            <small>CTO</small>
        </figcaption>
      </figure>

      <figure class="team-member">
        <%= image_tag "team-raquel.png", class: "team-member__image", alt: "raquel"  %>
        <figcaption class="team-member__caption">
            <strong>Raquel Bayer</strong>
            <small>Administrativo</small>
        </figcaption>
      </figure>

      <figure class="team-member">
        <%= image_tag "team-paulo.png", class: "team-member__image", alt: "paulo"  %>
        <figcaption class="team-member__caption">
            <strong>Paulo Favato</strong>
            <small>Designer</small>
        </figcaption>
      </figure>

      <figure class="team-member">
        <%= image_tag "team-anderson.png", class: "team-member__image", alt: "anderson"  %>
        <figcaption class="team-member__caption">
            <strong>Anderson Rocha</strong>
            <small>Developer</small>
        </figcaption>
      </figure>

      <figure class="team-member">
        <%= image_tag "team-phillipp.png", class: "team-member__image", alt: "phillipp"  %>
        <figcaption class="team-member__caption">
            <strong>Phillipp Oliveira</strong>
            <small>Developer</small>
        </figcaption>
      </figure>

      <figure class="team-member">
        <%= image_tag "team-jaimerson.png", class: "team-member__image", alt: "jaimerson"  %>
        <figcaption class="team-member__caption">
            <strong>Jaimerson Araujo</strong>
            <small>Developer</small>
        </figcaption>
      </figure>

      <figure class="team-member">
        <%= image_tag "team-kaue.png", class: "team-member__image", alt: "kaue"  %>
        <figcaption class="team-member__caption">
            <strong>Kaue Buriti</strong>
            <small>Developer</small>
        </figcaption>
      </figure>

      <figure class="team-member">
        <%= image_tag "team-ottony.png", class: "team-member__image", alt: "ottony"  %>
        <figcaption class="team-member__caption">
            <strong>Ottony Costa</strong>
            <small>Developer</small>
        </figcaption>
      </figure>

      <figure class="team-member">
        <%= image_tag "team-kaio.png", class: "team-member__image", alt: "kaio"  %>
        <figcaption class="team-member__caption">
            <strong>Kaio Max</strong>
            <small>Developer</small>
        </figcaption>
      </figure>

      <figure class="team-member">
        <%= image_tag "team-karydja.png", class: "team-member__image", alt: "karydja"  %>
        <figcaption class="team-member__caption">
            <strong>Karyd'ja Souza</strong>
            <small>Developer</small>
        </figcaption>
      </figure>

      <figure class="team-member">
        <%= image_tag "team-mateus.png", class: "team-member__image", alt: "mateus"  %>
        <figcaption class="team-member__caption">
            <strong>Mateus Medeiros</strong>
            <small>Developer</small>
        </figcaption>
      </figure>

      <figure class="team-member">
        <%= image_tag "team-mateus.png", class: "team-member__image", alt: "mateus"  %>
        <figcaption class="team-member__caption">
            <strong>Eric Prieto</strong>
            <small>Developer</small>
        </figcaption>
      </figure>
    </div>
  </section>
</div>
