---
title: EcoStage | Projects
inner: true
keywords: sustantabilidade, plataforma, socioambiental, map, mapeamento, gases, efeito, estufa, gee, Brasil, digital, interativo, moderno, seeg, impacto, ambiental, mudanças, climaticas, observatorio, clima, co2, eco, code
---

<div class="wrapper wrapper-inner">
  <section class="section section-work">
    <h1 class="section-title">
      Our Projects
    </h1>
  </section>
  
  <div class="project-list">

    <div class="project-item">
      <div 
        class="project-item__printscreen project-item__printscreen--left printscreen__seeg">
      </div>
      <div class="project-item__caption project-item__caption--right">
        <div class="project-item__logo">
          <%= image_tag "logowork-seeg.svg", class: "project-item__logo-work", alt: "SEEG" %>
        </div>
        <p class="project-item__description">
          The System Study Greenhouse Gas Emissions Estimates (SEEG) is a Climate Observatory’s initiative comprising the production of annual estimates of greenhouse gas emissions (GHG) in Brazil. All data generated in the system are made available in a digital interactive platform open to the public.
        </p>
        <p><a class="link-button" href="http://seeg.eco.br" class="project-item__link" target="_blank">
          View project
        </a></p>
      </div>
    </div>

  </div>

  <div class="section-gray">
    <div class="project-list">

      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right printscreen__mapbiomas">
        </div>
        <div class="project-item__caption project-item__caption--left">
          <div class="project-item__logo">
            <%= image_tag "logowork-mapbiomas.svg", class: "project-item__logo-work", alt: "MapBiomas" %>
          </div>
          <p class="project-item__description">
            A detailed interactive map that allows you to know the evolution of land-use and land use coverage in Brazilian territory. MapBiomas is a SEEG/OC initiative and is developed by a collaborative network of co-creators, such as NGOs, universities and companies.
          </p>
          <p><a class="link-button" href="http://mapbiomas.org" class="project-item__link" target="_blank">
            View project
          </a></p>
        </div>
      </div>

    </div>
  </div>
  
  <div class="project-list">
    <div class="project-item">
      <div class="project-item__printscreen project-item__printscreen--left printscreen__seegeletrico">
      </div>
      <div class="project-item__caption project-item__caption--right">
        <div class="project-item__logo--center">
          <%= image_tag "logowork-seegeletrico.svg", class: "project-item__logo-work", alt: "Seeg Elétrico" %>
        </div>
        <p class="project-item__description">
          The SEEG’s Electric Monitor is a qualified tool for information and daily updates on the composition of the Brazilian energy matrix and its greenhouse gas emissions.
        </p>
        <p><a class="link-button" href="http://monitoreletrico.seeg.eco.br/" class="project-item__link" target="_blank">
          View project
        </a></p>
      </div>
    </div>
  </div>

  <div class="section-gray">
    <div class="project-list">
      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right printscreen__ips">
        </div>
        <div class="project-item__caption project-item__caption--left">
          <div class="project-item__logo">
            <%= image_tag "logowork-ips.svg", class: "project-item__logo-work", alt: "IPS Amazônia" %>
          </div>
          <p class="project-item__description">
            Platform that presents the Social Progress Imperative (SPI) as a means to assess the situation of Amazonian society from a new perspective, different from the measurements made by Gross Domestic Product (GDP) or the Human Development Index (HDI). IPS Amazônia initiative came from Imazon (Amazon Institute of People and the Environment).          
          </p>
          <p><a class="link-button" href="http://www.ipsamazonia.org.br/" class="project-item__link" target="_blank">
            View project
          </a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="project-list">
    <div class="project-item">
      <div class="project-item__printscreen project-item__printscreen--left printscreen__mundoise">
      </div>
      <div class="project-item__caption project-item__caption--right">
        <div class="project-item__logo">
          <%= image_tag "logowork-ise.jpg", class: "project-item__logo-work", alt: "ISE Bovespa" %>
        </div>
        <p class="project-item__description">
          The ISE World is a playful interface of BM&FBOVESPA’s Corporate Sustainability Index (ISE), which presents in a more accessible language for businesses and society what the indicators that make up the index mean. The ISE consists of 12 thematic questionnaires to public traded companies on various issues related to the corporate sustainability agenda. The idea is to encourage the dissemination of good practices listed in the questionnaire underlying the ISE and support an integrated view of this agenda.
        </p>
        <p><a class="link-button" href="http://mundoise.isebvmf.com.br/" class="project-item__link" target="_blank">
          View project
        </a></p>
      </div>
    </div>
  </div>

  <div class="section-gray">
    <div class="project-list">
      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right printscreen__simulador">
        </div>
        <div class="project-item__caption project-item__caption--left">
          <div class="project-item__logo--center">
            <%= image_tag "logowork-simulador.svg", class: "project-item__logo-work", alt: "Simulador WWF" %>
          </div>
          <p class="project-item__description">
            The Environmental Impact Simulator on Urban Mobility Actions is a tool developed by ANTP (National Association of Public Transport), in partnership with WWF-Brasil, to illustrate the changes that can come about in cities from changing the means of transportation.
          </p>
          <p><a class="link-button" href="http://simulador.antp.org.br/" class="project-item__link" target="_blank">
            View project
          </a></p>
        </div>
      </div>
    </div>
  </div>


  <div class="project-list">
    <div class="project-item">
      <div class="project-item__printscreen project-item__printscreen--left printscreen__plataformadoar">
      </div>
      <div class="project-item__caption project-item__caption--right">
        <div class="project-item__logo">
          <%= image_tag "logowork-plataformadoar.svg", class: "project-item__logo-work", alt: "Plataforma da Qualidade do Ar" %>
        </div>
        <p class="project-item__description">
          The Air Quality Platform is an initiative by the Institute for Energy and the Environment, in cooperation with the State Environmental Agencies (SEA), created to integrate and disseminate information on air quality in Brazil.
        </p>
        <p><a class="link-button" href="http://qualidadedoar.org.br/" class="project-item__link" target="_blank">
          View project
        </a></p>
      </div>
    </div>
  </div>

  <div class="section-gray section-end">
    <div class="project-list">
      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right printscreen__oc">
        </div>
        <div class="project-item__caption project-item__caption--left">
          <div class="project-item__logo">
            <%= image_tag "logowork-oc.svg", class: "project-item__logo-work", alt: "Observatório do Clima" %>
          </div>
          <p class="project-item__description">
            The Climate Observatoy (OC) is a network that gathers civil society organizations in order to discuss climate change in the Brazillian context. The OC’s digital interface is its platform to share information and opinions with the press, social networks, policymakers and the society.
          </p>
          <p><a class="link-button" href="http://www.observatoriodoclima.eco.br" class="project-item__link" target="_blank">View project</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
