---
title: EcoStage
intro: true
---

<div class="customer">
<section class="section">

  <h1 class="section-title">
  	nossos clientes
  </h1>
  <ul class="customer__list">
  	<li class="customer__item">
  		<%= image_tag "fgv.png", class: "customer__logo" %>
  	</li>
  	<li class="customer__item">
  		<%= image_tag "imazon.png", class: "customer__logo" %>
  	</li>
  	<li class="customer__item">
  		<%= image_tag "wwf.png", class: "customer__logo" %>
  	</li>
  	<li class="customer__item">
  		<%= image_tag "greenpeace.png", class: "customer__logo" %>
  	</li>
  	<li class="customer__item">
  		<%= image_tag "oc.png", class: "customer__logo" %>
  	</li>
  	<li class="customer__item">
  		<%= image_tag "seeg.png", class: "customer__logo" %>
  	</li>
  	<li class="customer__item">
  		<%= image_tag "iema.png", class: "customer__logo" %>
  	</li>
  </ul>
</section>
</div>

<section class="section work">
  <h1 class="section-title">
  	últimos projetos desenvolvidos	
  </h1>
  <div class="work-carousel js-work-carousel"></div>
</section>
