---
title: EcoStage
intro: true
---

<div class="customer">
<section class="section">

  <h1 class="section-title">
  	nossos clientes
  </h1>
  <ul class="customer__list">
  	<li class="customer__item">
  		<%= image_tag "fgv.png", class: "customer__logo" %>
  	</li>
  	<li class="customer__item">
  		<%= image_tag "imazon.png", class: "customer__logo" %>
  	</li>
  	<li class="customer__item">
  		<%= image_tag "wwf.png", class: "customer__logo" %>
  	</li>
  	<li class="customer__item">
  		<%= image_tag "greenpeace.png", class: "customer__logo" %>
  	</li>
  	<li class="customer__item">
  		<%= image_tag "oc.png", class: "customer__logo" %>
  	</li>
  	<li class="customer__item">
  		<%= image_tag "seeg.png", class: "customer__logo" %>
  	</li>
  	<li class="customer__item">
  		<%= image_tag "iema.png", class: "customer__logo" %>
  	</li>
  </ul>
</section>
</div>

<section class="section work">
  <h1 class="section-title">
  	últimos projetos desenvolvidos
  </h1>

	<div id="js-our-projects" class="owl-carousel js-our-projects">
	  <div class="item">
	  	<%= image_tag "slider-mapbiomas.png", class: "owl-imgslider" %>
      <div class="item-text">
        <h2>Mapbiomas</h2>
        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
      </div>
	  </div>
	  <div class="item">
	  	<%= image_tag "slider-seeg.png", class: "owl-imgslider" %>
      <div class="item-text">
        <h2>Seeg</h2>
        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos.</p>
      </div>
	  </div>
	</div>
</section>
