---
title: EcoStage - Projetos
inner: true
---

<div class="wrapper wrapper-inner">
  <section class="section section-work">
    <h1 class="section-title">
      Projetos
    </h1>
  </section>
  
  <div class="project-list">

    <div class="project-item">
      <div 
        class="project-item__printscreen project-item__printscreen--left printscreen__seeg">
      </div>
      <div class="project-item__caption project-item__caption--right">
        <%= image_tag "logowork-seeg.svg", class: "project-item__logo-work" %>
        <p class="project-item__description">
          O Sistema de Estimativas de Emissões de Gases de Efeito Estuda (SEEG) é uma iniciativa do Observatório do Clima que compreende a produção de estimativas anuais das emissões de gases de efeito estufa (GEE) no Brasil.
        </p>
        <p><a class="link-button" href="http://seeg.eco.br" class="project-item__link" target="_blank">Ver projeto</a></p>
      </div>
    </div>

  </div>

  <div class="section-gray">
    <div class="project-list">

      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right printscreen__mapbiomas">
        </div>
        <div class="project-item__caption project-item__caption--left">
          <%= image_tag "logowork-mapbiomas.svg", class: "project-item__logo-work" %>
          <p class="project-item__description">
            O MapBiomas é uma iniciativa do SEEG/OC (Sistema de Estimativas de Emissões de Gases de Efeito Estufa do Observatório do Clima) e é produzido por uma rede colaborativa de co-criadores formado por ONGs, universidades e empresas organizados por biomas e temas transversais.
          </p>
          <p><a class="link-button" href="http://mapbiomas.org" class="project-item__link" target="_blank">Ver projeto</a></p>
        </div>
      </div>

    </div>
  </div>
  
  <div class="project-list">

    <div class="project-item">
      <div class="project-item__printscreen project-item__printscreen--left printscreen__seegeletrico">
      </div>
      <div class="project-item__caption project-item__caption--right">
        <%= image_tag "logowork-seegeletrico.svg", class: "project-item__logo-work" %>
        <p class="project-item__description">
          O SEEG Monitor Elétrico é uma ferramenta de informação qualificada e com atualização diária sobre a composição da matriz elétrica brasileira e suas emissões de gases de efeito estufa. Também fornece o número de sistemas de micro e minigeração registrados no país. 
        </p>
        <p><a class="link-button" href="http://monitoreletrico.seeg.eco.br/" class="project-item__link" target="_blank">Ver projeto</a></p>
      </div>
    </div>

  </div>

  <div class="section-gray">
    <div class="project-list">

      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right printscreen__ips">
        </div>
        <div class="project-item__caption project-item__caption--left"
        
          <%= image_tag "logowork-ips.svg", class: "project-item__logo-work" %>
          <p class="project-item__description">
            A primeira iniciativa de uso do Índice de Progresso Social (IPS) no Brasil ocorreu na Amazônia brasileira. A iniciativa do IPS Amazônia partiu do Imazon (Instituto do Homem e Meio Ambiente da Amazônia), que identificou no IPS um meio para avaliar a situação da sociedade amazônica a partir de uma nova visão, diferente das medições feitas por meio do PIB e do IDH.
          </p>
          <p><a class="link-button" href="http://www.ipsamazonia.org.br/" class="project-item__link" target="_blank">Ver projeto</a></p>
        </div>
      </div>

    </div>
  </div>

  <div class="project-list">

    <div class="project-item">
      <div class="project-item__printscreen project-item__printscreen--left printscreen__ise">
      </div>
      <div class="project-item__caption project-item__caption--right">
        <%= image_tag "logowork-ise.jpg", class: "project-item__logo-work" %>
        <p class="project-item__description">
          Mundo ISE - Interface lúdica do Índice de Sustentabilidade Empresarial da BM&FBOVESPA representa o conjunto de temas do ISE, para estimular a disseminação das práticas referentes ao seu questionário e uma visão integrada sobre sua agenda de sustentabilidade empresarial.
        </p>
        <p><a class="link-button" href="http://mundoise.isebvmf.com.br/" class="project-item__link" target="_blank">Ver projeto</a></p>
      </div>
    </div>

  </div>

  <div class="section-gray">
    <div class="project-list">

      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right printscreen__simulador">
        </div>
        <div class="project-item__caption project-item__caption--left">
          <%= image_tag "logowork-simulador.png", class: "project-item__logo-work" %>
          <p class="project-item__description">
            O Simulador de Impactos Ambientais em Ações de Mobilidade Urbana é uma ferramenta desenvolvida pela Associação Nacional de Transportes Públicos (ANTP) em parceria com o WWF-Brasil para ilustrar os resultados que a mudança nos meios de locomoção pode trazer para uma cidade.
          </p>
          <p><a class="link-button" href="http://www.antp.org.br/website/produtos/simulador/" class="project-item__link" target="_blank">Ver projeto</a></p>
        </div>
      </div>

    </div>
  </div>


  <div class="project-list">

    <div class="project-item">
      <div class="project-item__printscreen project-item__printscreen--left printscreen__plataformadoar">
      </div>
      <div class="project-item__caption project-item__caption--right">
        <%= image_tag "logowork-plataformadoar.svg", class: "project-item__logo-work" %>
        <p class="project-item__description">
          A Plataforma da Qualidade do Ar é uma iniciativa do Instituto de Energia e Meio Ambiente com a colaboração dos Órgãos Estaduais de Meio Ambiente, criada para integrar e divulgar informações sobre a qualidade do ar no Brasil.
        </p>
        <p><a class="link-button" href="http://qualidadedoar.org.br/" class="project-item__link" target="_blank">Ver projeto</a></p>
      </div>
    </div>

  </div>

  <div class="section-gray">
    <div class="project-list">

      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right printscreen__oc">
        </div>
        <div class="project-item__caption project-item__caption--left">
          <%= image_tag "logowork-oc.svg", class: "project-item__logo-work" %>
          <p class="project-item__description">
            O Observatório do Clima é uma rede que reúne entidades da sociedade civil com o objetivo de discutir a questão das mudanças climáticas no contexto brasileiro.
          </p>
          <p><a class="link-button" href="http://www.observatoriodoclima.eco.br" class="project-item__link" target="_blank">Ver projeto</a></p>
        </div>
      </div>

    </div>
  </div>

</div>
