---
title: EcoStage - Projetos
inner: true
keywords: sustantabilidade, plataforma, projetos, socioambiental, map, mapeamento, gases, efeito, estufa, gee, Brasil, digital, interativo, moderno, seeg, impacto, ambiental, mudanças, climaticas, observatorio, clima, co2, eco, code
---

<div class="wrapper wrapper-inner">
  <section class="section section-work">
    <h1 class="section-title">
      Projetos
    </h1>
  </section>
  
  <div class="project-list">

    <div class="project-item">
      <div 
        class="project-item__printscreen project-item__printscreen--left printscreen__seeg">
      </div>
      <div class="project-item__caption project-item__caption--right">
        <div class="project-item__logo">
          <%= image_tag "logowork-seeg.svg", class: "project-item__logo-work", alt: "Seeg" %>
        </div>
        <p class="project-item__description">
          O Sistema de Estimativas de Emissões de Gases de Efeito Estufa (SEEG) é uma iniciativa do Observatório do Clima que traz estimativas anuais das emissões de gases de efeito estufa (GEE) no Brasil e as apresenta de modo aberto em uma plataforma digital interativa.
        </p>
        <p><a class="link-button" href="http://seeg.eco.br" class="project-item__link" target="_blank">Ver projeto</a></p>
      </div>
    </div>

  </div>

  <div class="section-gray">
    <div class="project-list">

      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right printscreen__mapbiomas">
        </div>
        <div class="project-item__caption project-item__caption--left">
          <div class="project-item__logo">
            <%= image_tag "logowork-mapbiomas.svg", class: "project-item__logo-work", alt: "MapBiomas" %>
          </div>
          <p class="project-item__description">
            Um detalhado mapa interativo que permite conhecer a evolução do uso do solo no território brasileiro. O MapBiomas é uma iniciativa do SEEG/OC (Sistema de Estimativas de Emissões de Gases de Efeito Estufa do Observatório do Clima) e é produzido por uma rede colaborativa de co-criadores formado por ONGs, universidades e empresas.
          </p>
          <p><a class="link-button" href="http://mapbiomas.org" class="project-item__link" target="_blank">Ver projeto</a></p>
        </div>
      </div>

    </div>
  </div>
  
  <div class="project-list">
    <div class="project-item">
      <div class="project-item__printscreen project-item__printscreen--left printscreen__seegeletrico">
      </div>
      <div class="project-item__caption project-item__caption--right">
        <div class="project-item__logo">
          <%= image_tag "logowork-seegeletrico.svg", class: "project-item__logo-work", alt: "Seeg Elétrico" %>
        </div>
        <p class="project-item__description">
          O SEEG Monitor Elétrico é uma ferramenta de informação qualificada e com atualização diária sobre a composição da matriz elétrica brasileira e suas emissões de gases de efeito estufa.
        </p>
        <p><a class="link-button" href="http://monitoreletrico.seeg.eco.br/" class="project-item__link" target="_blank">Ver projeto</a></p>
      </div>
    </div>
  </div>

  <div class="section-gray">
    <div class="project-list">
      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right printscreen__ips">
        </div>
        <div class="project-item__caption project-item__caption--left">
          <div class="project-item__logo">
            <%= image_tag "logowork-ips.svg", class: "project-item__logo-work", alt: "IPS Amazônia" %>
          </div>
          <p class="project-item__description">
            Plataforma que apresenta o Índice de Progresso Social (IPS) como meio para avaliar a situação da sociedade amazônica a partir de uma nova visão, diferente das medições feitas por meio do PIB e do IDH. A iniciativa do IPS Amazônia partiu do Imazon (Instituto do Homem e Meio Ambiente da Amazônia).          
          </p>
          <p><a class="link-button" href="http://www.ipsamazonia.org.br/" class="project-item__link" target="_blank">Ver projeto</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="project-list">
    <div class="project-item">
      <div class="project-item__printscreen project-item__printscreen--left printscreen__mundoise">
      </div>
      <div class="project-item__caption project-item__caption--right">
        <div class="project-item__logo">
          <%= image_tag "logowork-ise.jpg", class: "project-item__logo-work", alt: "ISE Bovespa" %>
        </div>
        <p class="project-item__description">
          O Mundo ISE é a interface lúdica do Índice de Sustentabilidade Empresarial da BM&FBOVESPA, que apresenta o conjunto de temas com dados, ilustrações e textos. A ideia é estimular a disseminação das práticas elencadas no questionário que fundamenta o ISE e uma visão integrada sobre sua agenda de sustentabilidade empresarial.
        </p>
        <p><a class="link-button" href="http://mundoise.isebvmf.com.br/" class="project-item__link" target="_blank">Ver projeto</a></p>
      </div>
    </div>
  </div>

  <div class="section-gray">
    <div class="project-list">
      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right printscreen__simulador">
        </div>
        <div class="project-item__caption project-item__caption--left">
          <div class="project-item__logo">
            <%= image_tag "logowork-simulador.svg", class: "project-item__logo-work", alt: "Simulador" %>
          </div>
          <p class="project-item__description">
            O Simulador de Impactos Ambientais em Ações de Mobilidade Urbana é uma ferramenta desenvolvida pela ANTP em parceria com o WWF-Brasil para ilustrar os resultados que a mudança nos meios de locomoção pode trazer para uma cidade.
          </p>
          <p><a class="link-button" href="http://www.antp.org.br/website/produtos/simulador/" class="project-item__link" target="_blank">Ver projeto</a></p>
        </div>
      </div>
    </div>
  </div>


  <div class="project-list">
    <div class="project-item">
      <div class="project-item__printscreen project-item__printscreen--left printscreen__plataformadoar">
      </div>
      <div class="project-item__caption project-item__caption--right">
        <div class="project-item__logo">
          <%= image_tag "logowork-plataformadoar.svg", class: "project-item__logo-work", alt: "Plataforma da Qualidade do Ar" %>
        </div>
        <p class="project-item__description">
          A Plataforma da Qualidade do Ar é uma iniciativa do Instituto de Energia e Meio Ambiente com a colaboração dos Órgãos Estaduais de Meio Ambiente, criada para integrar e divulgar informações sobre a qualidade do ar no Brasil.
        </p>
        <p><a class="link-button" href="http://qualidadedoar.org.br/" class="project-item__link" target="_blank">Ver projeto</a></p>
      </div>
    </div>
  </div>

  <div class="section-gray section-end">
    <div class="project-list">
      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right printscreen__oc">
        </div>
        <div class="project-item__caption project-item__caption--left">
          <div class="project-item__logo">
            <%= image_tag "logowork-oc.svg", class: "project-item__logo-work", alt: "Observatório do Clima" %>
          </div>
          <p class="project-item__description">
            O Observatório do Clima é uma rede que reúne entidades da sociedade civil com o objetivo de discutir a questão das mudanças climáticas no contexto brasileiro. A interface digital do OC é sua base para compartilhar informações e opiniões com a imprensa, as redes sociais, os formuladores de política e a sociedade em geral.
          </p>
          <p><a class="link-button" href="http://www.observatoriodoclima.eco.br" class="project-item__link" target="_blank">Ver projeto</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
