---
title: EcoStage - Últimos projetos
inner: true
---

<div class="wrapper wrapper-inner">
  <section class="section">

    <h1 class="section-title">
      projetos
    </h1>

  </section>
  
  <div class="project-list">

    <div class="project-item">
      <div class="project-item__printscreen project-item__printscreen--left">
        <%= image_tag "work-seeg.png", class: "project-item__image" %>  
      </div>
      <div class="project-item__caption project-item__caption--right">
        <%= image_tag "logowork-seeg.svg", class: "project-item__logo-work" %>
        <p class="project-item__description">
          O Sistema de Estimativas de Emissões de Gases de Efeito Estuda (SEEG) é uma iniciativa do Observatório do Clima que compreende a produção de estimativas anuais das emissões de gases de efeito estufa (GEE) no Brasil, documentos analíticos sobre a evolução das emissões e um portal na internet para disponibilização de forma simples e clara dos métodos e dados gerados no sistema.
        </p>
        <p><a class="link-text" href="http://seeg.eco.br" class="project-item__link" target="_blank">seeg.eco.br</a></p>
      </div>
    </div>

  </div>

  <div class="section-gray">
    <div class="project-list">

      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right">
          <%= image_tag "work-mapbiomas.png", class: "project-item__image" %> 
        </div>
        <div class="project-item__caption project-item__caption--left">
          <%= image_tag "logowork-mapbiomas.svg", class: "project-item__logo-work" %>
          <p class="project-item__description">
            O MapBiomas é uma iniciativa do SEEG/OC (Sistema de Estimativas de Emissões de Gases de Efeito Estufa do Observatório do Clima) e é produzido por uma rede colaborativa de co-criadores formado por ONGs, universidades e empresas organizados por biomas e temas transversais.
          </p>
          <p><a class="link-text" href="http://mapbiomas.org" class="project-item__link" target="_blank">mapbiomas.org</a></p>
        </div>
      </div>

    </div>
  </div>
  
  <div class="project-list">

    <div class="project-item">
      <div class="project-item__printscreen project-item__printscreen--left">
        <%= image_tag "work-seegeletrico.png", class: "project-item__image" %>
      </div>
      <div class="project-item__caption project-item__caption--right">
        <%= image_tag "logowork-seegeletrico.svg", class: "project-item__logo-work" %>
        <p class="project-item__description">
          O SEEG Monitor Elétrico é uma ferramenta de informação qualificada e com atualização diária sobre a composição da matriz elétrica brasileira e suas emissões de gases de efeito estufa. Também fornece o número de sistemas de micro e minigeração registrados no país. 
        </p>
        <p><a class="link-text" href="http://monitoreletrico.seeg.eco.br/" class="project-item__link" target="_blank">monitoreletrico.seeg.eco.br</a></p>
      </div>
    </div>

  </div>

  <div class="section-gray">
    <div class="project-list">

      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right">
          <%= image_tag "work-ips.png", class: "project-item__image" %> 
        </div>
        <div class="project-item__caption project-item__caption--left">
          <%= image_tag "logowork-ips.svg", class: "project-item__logo-work" %>
          <p class="project-item__description">
            Progresso Social, segundo a organização Social Progress Imperative (SPI) , é a capacidade de uma sociedade em satisfazer as necessidades humanas básicas dos seus cidadãos; estabelecer os elementos essenciais que permitam às pessoas e às comunidades melhorar e manter sua qualidade de vida; e criar as condições para que todos os indivíduos atinjam pleno potencial.
          </p>
          <p><a class="link-text" href="http://www.ipsamazonia.org.br/" class="project-item__link" target="_blank">www.ipsamazonia.org.br</a></p>
        </div>
      </div>

    </div>
  </div>

  <div class="project-list">

    <div class="project-item">
      <div class="project-item__printscreen project-item__printscreen--left">
        <%= image_tag "work-mundoise.png", class: "project-item__image" %>  
      </div>
      <div class="project-item__caption project-item__caption--right">
        <%= image_tag "logowork-ise.jpg", class: "project-item__logo-work" %>
        <p class="project-item__description">
          Mundo ISE - Interface lúdica do Índice de Sustentabilidade Empresarial da BM&FBOVESPA representa o conjunto de temas do ISE, para estimular a disseminação das práticas referentes ao seu questionário e uma visão integrada sobre sua agenda de sustentabilidade empresarial.
        </p>
        <p><a class="link-text" href="http://mundoise.isebvmf.com.br/" class="project-item__link" target="_blank">mundoise.isebvmf.com.br</a></p>
      </div>
    </div>

  </div>

  <div class="section-gray">
    <div class="project-list">

      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right">
          <%= image_tag "work-simulador.png", class: "project-item__image" %> 
        </div>
        <div class="project-item__caption project-item__caption--left">
          <%= image_tag "logowork-simulador.png", class: "project-item__logo-work" %>
          <p class="project-item__description">
            O Simulador de Impactos Ambientais em Ações de Mobilidade Urbana é uma ferramenta desenvolvida pela Associação Nacional de Transportes Públicos (ANTP) em parceria com o WWF-Brasil para ilustrar os resultados que a mudança nos meios de locomoção pode trazer para uma cidade.
          </p>
          <p><a class="link-text" href="http://www.antp.org.br/website/produtos/simulador/" class="project-item__link" target="_blank">www.antp.org.br</a></p>
        </div>
      </div>

    </div>
  </div>


  <div class="project-list">

    <div class="project-item">
      <div class="project-item__printscreen project-item__printscreen--left">
        <%= image_tag "work-plataformadoar.png", class: "project-item__image" %>  
      </div>
      <div class="project-item__caption project-item__caption--right">
        <%= image_tag "logowork-plataformadoar.svg", class: "project-item__logo-work" %>
        <p class="project-item__description">
          Esta é uma iniciativa do Instituto de Energia e Meio Ambiente com a colaboração dos Órgãos Estaduais de Meio Ambiente, criada para integrar e divulgar informações sobre a qualidade do ar no Brasil. Usando funcionalidades simples de pesquisa a Plataforma permite o acesso a séries históricas de dados de concentração de poluentes por estado, região metropolitana e por tipo de poluente, sistematizadas a partir dos Relatórios Anuais de Qualidade do Ar dos estados. 
        </p>
        <p><a class="link-text" href="http://qualidadedoar.org.br/" class="project-item__link" target="_blank">qualidadedoar.org.br</a></p>
      </div>
    </div>

  </div>

  <div class="section-gray">
    <div class="project-list">

      <div class="project-item">
        <div class="project-item__printscreen project-item__printscreen--right">
          <%= image_tag "work-oc.png", class: "project-item__image" %>  
        </div>
        <div class="project-item__caption project-item__caption--left">
          <%= image_tag "logowork-oc.svg", class: "project-item__logo-work" %>
          <p class="project-item__description">
            O Observatório do Clima é uma rede que reúne entidades da sociedade civil com o objetivo de discutir a questão das mudanças climáticas no contexto brasileiro. O OC promove encontros com especialistas na área, além de articular os atores sociais para que o governo brasileiro assuma compromissos e crie políticas públicas efetivas em favor da mitigação e da adaptação do Brasil em relação à mudança do clima.
          </p>
          <p><a class="link-text" href="http://www.observatoriodoclima.eco.br" class="project-item__link" target="_blank">observatoriodoclima.eco.br</a></p>
        </div>
      </div>

    </div>
  </div>

</div>